<div class="container">
  <div class="page-header">
    <h1>Register User</h1>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
      <div class="form-group row">
        <label class="col-md-2 col-form-label">First Name</label>
        <input type="text" class="col-md-4 form-control" name="First Name" [formControl]="registerForm.controls['firstName']" required/>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Last Name</label>
        <input type="text" class="col-md-4 form-control" name="Last Name" [formControl]="registerForm.controls['lastName']">
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Username</label>
        <input type="text" class="col-md-4 form-control">
      </div>
        <!--<div class="col-md-4">
          <small class="form-text text-muted" *ngIf="usernameTaken(username.value)">Username already taken.</small>
          <small class="form-text text-muted" *ngIf="!registerForm.controls['username'].valid && registerForm.controls['username'].touched">You must specify a username.</small>
        </div>-->
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Password</label>
        <input type="password" class="col-md-4 form-control"  name="password" [formControl]="registerForm.controls['password']">
      </div>
      <div class="col-md-12">
        <input type="submit" class="btn filled align-items-center" value="Create">
      </div>
  </form>
</div>
