
<div class="row header">
  <div class="columns small-12 medium-3">
    <a routerLink="/"><img src="/assets/images/logo.svg" id="logo"></a>
  </div>
  <div class="columns small-12 medium-5"></div>
  <div class="columns small-12 medium-1">
      <a routerLink="register" class="cta-btn">Register</a>
  </div>
  <div class="columns small-12 medium-1">
    <a routerLink="login" class="cta-btn">Login</a>
  </div>
  <div class="columns small-12 medium-1">
    <a routerLink="register" class="cta-btn">LogOut</a>
  </div>
  <div class="columns small-12 medium-1">
    <a routerLink="post" class="cta-btn">Post Tutorial</a>
  </div>
</div>