$text-color: #88949D;

.pill-button {
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

input[type='text'],textarea, input[type='date'], input[type='time'], input[type='password']{
  background:none;
  border: 1px solid #617879;
  color:$text-color;
}

textarea {
  background:none;
  border: 1px solid #617879;
  color:$text-color;
}

textarea:focus {
  background:none;
  border: 1px solid #617879;
  color:$text-color;
}
